<br>
<form action='/events/create' method='post'>
	Organizer Name: <input type='word' placeholder='name' name='organizer_name'><br>
	Organizer Email: <input type='email' placeholder='e.g, me@example.com' name='organizer_email'><br>
	Event Title: <input type='word' placeholder='title' name='title'><br>
	Event Date: <input type='date' placeholder='date of even' name='date'><br>
	<input type='submit'>
</form>

<div class='errors'></div>
